@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .navBarHover{
       @apply h-12 px-5 rounded-full bg-transparent flex items-center gap-2 hover:bg-hoverBg duration-300 cursor-pointer
    }
    .bottonNavLi{
        @apply  hover:underline underline-offset-2 cursor-pointer decoration-[1px] 
    }
}
.max-w-contentContainer{
    max-width:1280px;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
html,body,main{
    --tw-bg-opacity: 1;
    background: rgba(230, 241, 252.1);
}
.border-text{
    text-border: 1px solid #fff ,
}